.home__bg-styles {
    background-position: top;
    background-size: cover;
    // background-size: 100% 100%; //width and height of bg image.
    background-repeat: no-repeat;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: radial-gradient(circle at center, transparent 15%, #181818d0 65%, #181818 90%), linear-gradient(0deg, #181818 5%, #181818da 20%, transparent 100%)
    }
}

.home__movie-card {
    height: 440px;
    width: 300px;
    position: relative;

    &:before { 
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(0deg, #181818d8, transparent);
    }
}

.home__section-title {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 70px;
        bottom: 0;
        background-color: #ffa334;
        transform: translateY(3px)
    }
}

.home__header__star-icon {
    filter: drop-shadow(0px 0px 10px #ffa334);
}