.home__bg-styles {
    background-position: top;
    background-size: cover;
    // background-size: 100% 100%; //width and height of bg image.
    background-repeat: no-repeat;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: radial-gradient(circle at center, transparent 15%, #181818d0 65%, #181818 90%), linear-gradient(0deg, #181818e3 5%, transparent 100%)
    }
}